@font-face {
  font-family: 'Pokémon Solid';
  src: url('/pokemon/Pokemon\ Solid.ttf') format('truetype');
}

body {
  background: linear-gradient(135deg, #f3ec78, #000000);
  background-image: url("https://images5.alphacoders.com/566/thumb-1920-566522.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 370px center;
  background-color: #d81718;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pokémon Solid', sans-serif;
  font-size: 18px;
}

.article {
  position: absolute;
  inset: 0;
  margin: auto;
  border: 1px solid #000000; /* Rojo Pokéball */
  border-radius: 15px; /* Bordes redondeados */
  width: 683px;
  height: 390px;
  overflow: hidden;
  background-color: #FFFFFF; /* Blanco Pikachu */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  z-index: 1; /* Aumenta el z-index */
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);

}

.nombre {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 5px;
  color: #9c0000; /* Rojo Pokéball */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombra */
  background: beige;
}

.tipo {
  position: absolute;
  width: 35px;
  border-radius: 50%;
  border: 1px solid white;
  right: 10px;
  top: -39px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  filter: brightness(0.75);
  z-index: 5;
  }

.dos {
  right: 50px;
  z-index: 6;
}

.verEfectividad {
  display: block;
  position: absolute;
  font-size: 12px;
  background-color: #f0c040; /* Amarillo Pikachu */
  border: none;
  padding-inline: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  z-index: 5;
  bottom: 8px;
  right: 10px;
}

.verEfectividad:hover {
  background-color: #f0a020; /* Amarillo más oscuro */
}


.bio {
  position: relative;
  display: flex;
  width: 100%;
  height: 300px;
  background-color: transparent;
  border-top: 1px solid #000; /* Borde negro */
  border-bottom: 1px solid #000; /* Borde negro */
  justify-content: center;
  align-items: center;
}

.gif {
  height: 100%;
  width: 400px;
}

.descripcion {
  height: 100%;
  width: 100%;
  float: right;
  margin: 10px;
  letter-spacing: 1px;
  font-size: 17px;
}

.numeroPokedex {
  height: 300px;
  width: 100%;
  color: rgba(141, 141, 141, 0.267);
  position: absolute;
  font-size: 110px;
  z-index: 1;
  text-align: right;
  padding-right: 65px;
  letter-spacing: 15px; 
}

.iconos {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  background-color: #9c0000; /* Rojo Pokéball */

}

.iconos img {
  width: 35px;
  height: auto;
  border-radius: 50%;
  margin-inline: 25px;
  border: 2px solid #48d;
  cursor: pointer;
  transition: all .2s ease-in-out;
  filter: brightness(0.7);
  z-index: 2;
}

.iconos img:hover {
  transform: scale(1.05);
  filter: brightness(1);
}

/* Cuando pulsamos en un icono que detecte en evolucion estamos */
.iconos img.active {
  filter: brightness(1.1);
  border: 2px solid #4e8;
  width: 45px;
}
.iconos img.active:hover {
  transform: scale(1);
  
}

.arrow {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 20px;
  opacity: 0.4;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: all .2s ease-in-out;
  z-index: 2;
}

.arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 25px solid white;
  transform: translateY(-50%);
}

.left {
  transform: rotate(180deg);
  left: -700px;
}

.right {
  right: -700px;

}

.arrow:hover {
  transform: scale(1.1);
  opacity: 1;
}

.left:hover {
  transform: scale(1.1) rotate(180deg);
}

.carta{
  width: 300px;
  height: 350px;
  background-color: rgb(226, 226, 226);
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 5;
  border-radius: 12px;
  border: 1px solid;
  overflow: hidden;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.cabecera{
  height: 50px;
  width: auto;
  background-color: rgb(247, 247, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
}

.tipoSeleccionado{
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 2.3;
}
.carta img{
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}
.cabecera img{
  position: absolute;
  right: 10px;
}

.contenido {
  height: auto;
  flex: 1;
}

.containerTipos {
  background-color: rgb(187, 132, 132);
  height: 145px;
}

.efectivo {
  margin-bottom: 10px;
  background-color: rgb(132, 187, 146);
}

.tablaTipos{
  text-align: center;
  font-size: 14px;
  text-decoration: underline;
  color: green;
}

.debil{
  color: #9c0000;
}

.iconosTa{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.tipoTabla {
  position: relative;
  justify-content: center;
  margin-inline: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  height: 40px;
}

.tipoTabla:hover{
  transform: scale(1.1);
}

.tipoTabla:hover .etiqueta{
  display: block;
}

.etiqueta {
  display: none;
  position: absolute;
  top: calc(100% + 7px);
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  border-radius: 3px;
  font-size: 8px;
  font-family:'Lucida Sans';
  font-weight: 600;
  z-index: 1;
  background-color: rgba(230, 230, 230, 0.8);
  color: rgb(131, 137, 216);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
.etiqueta::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: 5px solid transparent;
  border-bottom-color: rgba(230, 230, 230, 0.8);
  transform: translateX(-50%);
}


/* Estilos para los niveles de las evoluciones */
.flechaNvl {
  position: absolute;
  width: 30%;
  height: 14px;
  background-color: #a5b9cf; /* Color de fondo */
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 360px;
  left: 50%;
  transform: translateX(-50%);
}

.textNvl {
  z-index: 9999;
  position: absolute;
  left: 52px;
  color: rgb(0, 0, 0); /* Color del texto */
  font-size: 8px;
  
}

.segundaEvo{
  left: 135px;
}


/* Tabla de tipos*/
.tablaTiposEfectividad {
  position: relative;
  height: auto;
  width: 650px;
  background-color: beige;
  z-index: 10;
  border: 1px solid gray;
  border-radius: 12px;
  overflow: hidden;
  background: #000;
  display: none;
}

.titulo {
  background-color: #9c0000;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  letter-spacing: 0.15rem;
}

.grid-container {
  position: relative;
  width: 96.9%; /* Ancho completo del contenedor de la tabla */
  border-collapse: collapse; /* Colapso de los bordes de la tabla */
  float: right;
  margin-top: 20px;
}

.padre {
  background-color: #e4e3e3; /* Color de fondo de las celdas de los elementos padre */
  padding: 0; /* Eliminamos el espacio interno */
  border: 1px solid #414141; /* Borde de las celdas de los elementos padre */
}

.padre img {
  display: block; /* Para evitar espacios debajo de la imagen */
  max-width: 16px; /* Ancho máximo de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  margin: auto; /* Centrar horizontalmente */
}

.hijo {
  background-color: #fff; /* Color de fondo de las celdas de los elementos hijo */
  text-align: center; /* Alineación del texto de los elementos hijo */
  padding: 10px; /* Espaciado interno de las celdas de los elementos hijo */
  border: 1px solid #ccc; /* Borde de las celdas de los elementos hijo */
}

.esquina {
  background: #000;
  border: 1px solid black; /* Borde */
}

.celdaVacia{
  background-color: #f0f0f0; /* Color de fondo de las celdas de los elementos padre */
  border: 1px solid #ccc; /* Borde de las celdas de los elementos padre */
  font-size: 6px;
  text-align: center;
  filter: brightness(0.8);
}

.celdaVacia.resaltada, .celdaVacia.resaltada-fila {
  filter: brightness(1);
}

.muy-eficaz {
  background-color: #4e8;
}

.poco-eficaz {
  background-color: #ee4444;
}

.inefectivo {
  background-color: rgb(187, 187, 187);
}

.vertical-header{
  position: absolute;
  width: 20px;
  height: 100%;
  left: -20px;
  bottom: 0px;
  float: left;
  background-color: rgb(169, 194, 140);
  text-orientation: upright; /* Esto asegura que el texto esté en posición vertical */
  writing-mode: vertical-rl; /* Esto hará que el texto se escriba de arriba hacia abajo */
  white-space: nowrap;
  font-size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-header{
  position: absolute;
  width: 103.2%;
  height: 20px;
  right: 0;
  top: -20px;
  background-color: rgb(228, 191, 157);
  font-size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}