@import url('colors.css');
@import url('reset.css');

/*---------------------------------------------------*/

* {
  font-family: "Flexo-Medium", arial, sans-serif;
}
body {
  background-image: url(/PokedexMain/images/latios.jpg);
  background-size: cover;
  background-attachment: fixed; /* Fijar la imagen */

}
/* Titulo POKEDEX */
.title {
  /* background-image: url(https://imgs.search.brave.com/STq7dMGzY0-reRWCI-sk4C7q0kkHodCRjd8gqB4PMZw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wNC53/YWxscGFwZXJiZXR0/ZXIuY29tL3dhbGxw/YXBlci84NDgvODc3/LzE4OS84LWJpdC1h/cnR3b3JrLXNreS1s/YW5kc2NhcGUtd2Fs/bHBhcGVyLXByZXZp/ZXcuanBn); */
  background-image: url('../images/view.jpg');
  background-size: contain;
  width: 94%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 15px;
  text-align: center;
  margin-block: 10px;
  border-radius: 12px;
  color: aliceblue;
}

/* Texto types */
.types {
  text-align: center;
  width: 70%;
  margin: 10px auto;
  font-size: 12px;
}

/* Contenedor de tipos */
.types-types {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, var(--light-blue), var(--steel-grey) 50%, var(--light-blue)) no-repeat;
}
/* Iconos tipos */
.types-img {
  width: 40px;
  margin-block: 7px;
  transition: .2s all ease-in-out;
  cursor: pointer;
  filter: brightness(0.9);
  border-radius: 100%;

}

.types-img:hover{
  filter: brightness(1.1);
  transform: scale(1.1);
}

.active {
  filter: brightness(1.1);
  transform: scale(1.1);
  border: 2px solid #4e8;
  border-radius: 100%;
}

/* Contenedor generations */
.generations {
  position: relative;
  display: flex;
  flex-direction: column; /* Añadir flex-direction: column para alinear verticalmente */
  width: 200px;
  left: 60px;
  text-align: center;
  align-items: center;
}

/* Titulo generations*/
.navigation-bar-text{
  z-index: 9999999;
  position: relative;
  font-weight: bold;
  top: -20px;
}

.navigation-bar-title {
  background-image: url(https://static.wikia.nocookie.net/b81ad019-7c66-4581-bd96-a293f589fd70/scale-to-width/755);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 65px;
  border-radius: 5px;
  font-size: 18px;
  padding: 25px;
  border: 1px solid black;
  box-shadow: 1px 2px 5px;
  cursor: pointer;
  z-index: 10;
}

/* Barra de navegación */
.navigation-bar {
  position: absolute;
  width: 97%;
  margin-top: 65px;
  list-style: none;
  max-height: 0; /* Ocultar elementos inicialmente */
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease; /* Transición suave */
  z-index: 9;
}

.generations:hover .navigation-bar,
.navigation-bar:hover {
  max-height: 700px; /* Mostrar elementos con altura suficiente */
  opacity: 1;
}

/* Cada elemento generation */
.generation {
  position: relative;
  padding: 8px;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 12px;
  height: 55px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  background: var(--light-gray);
  filter: brightness(0.9);

}

.generation:hover {
  filter: brightness(1.1);
}

/* Links */
a {
  text-decoration: none;
  color: black;
  border: 1px solid white;
  background-color: #c0c0c0cb;
  padding: 2px 5px;
  left: 2px;
  position: absolute;
  top: 50%; /* Centrado horizontalmente */
  transform: translateY(-50%);
}


.gen1 {
  background-image: url('/PokedexMain/images/benners-generations/gen1.png');
  background-size: cover;
  background-position: center center;
}

.gen2 {
  background-image: url('/PokedexMain/images/benners-generations/gen2.jpg');
  background-size: cover;
  background-position: center center;
}

.gen3 {
  background-image: url('/PokedexMain/images/benners-generations/gen3.png');
  background-size: cover;
  background-position: center center;
}

.gen4 {
  background-image: url('/PokedexMain/images/benners-generations/gen4.jpg');
  background-size: cover;
  background-position: center center;
}

.gen5 {
  background-image: url('/PokedexMain/images/benners-generations/gen5.jpg');
  background-size: cover;
  background-position: center center;
}

.gen6 {
  background-image: url('/PokedexMain/images/benners-generations/gen6.jpg');
  background-size: cover;
  background-position: center center;
}

.gen7 {
  background-image: url('/PokedexMain/images/benners-generations/gen7.jpg');
  background-size: cover;
  background-position: center center;
}

.gen8 {
  background-image: url('/PokedexMain/images/benners-generations/gen8.jpg');
  background-size: cover;
  background-position: center center;
}

.gen9 {
  background-image: url('/PokedexMain/images/benners-generations/gen9.jpg');
  background-size: cover;
  background-position: center center;
}

.allGenerations {
  background-image: url('/PokedexMain/images/benners-generations/all.png');
  background-size: cover;
  background-position: center center;
  transition: all .2s ease-in-out;
  height: 70px;
  position: relative;
}
.allGenerations a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
}


/* Numero de pokemons */
.number-of-pokemons {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  width: 143px;
  border: 2px solid rgb(0, 0, 0);
  background-image: url(https://kumorikracken.wordpress.com/wp-content/uploads/2014/09/tumblr_mknyk01wkn1qlh7rxo2_500.gif);
  background-size: contain;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -15px auto;
  box-shadow: 1px 2px 5px;
  position: relative; /* Necesario para el tooltip */
  cursor: pointer; /* Para mostrar que es interactivo */
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 20;
}

.number-of-pokemons-number {
  display: inline;
  padding: 3px;
}

/* Estilos del tooltip */
.tooltip {
  position: absolute;
  left: 100%; /* Posicionar el tooltip a la derecha del contenedor */
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  white-space: nowrap; /* Evitar que el texto se rompa en varias líneas */
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  top: 50%;
  right: 95%;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
  left: calc(100% + 10px); /* Añadir un margen entre el tooltip y el contenedor */
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
    background: var(--dark-blue);
    color: #ffffff;
}

/* Input buscar pokemon */
.search {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: center;
  margin-right: 78px;
  margin-top: -35px;
  font-size: 14px;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--light-gray);
  border: none;
  color: var(--dark-gray);
  padding: 10px 20px;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
  box-shadow: 1px 2px 9px;
  z-index: 11;

}

.search__input:hover, .search__input:focus {
  box-shadow: 1px 2px 5px;
}

.search__input:focus {
  outline: none;
  background-color: var(--light-gray);
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: var(--light-gray);
}

.search__button {
  border: none;
  margin-top: .1em;
  cursor: pointer;
  z-index: 11;
  background-color: transparent;
  transition: .2s all ease-in-out;
}

.search__button:hover {
  transform: scale(1.1);
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

.suggestions-container {
  background-color: beige;
  position: absolute;
  z-index: 10;
  top: 35px;
  width: 10em;
  max-height: 200px;
  box-shadow: 1px 2px 9px;
  cursor: pointer;
  overflow: auto;
  text-transform: capitalize;
}

.suggestion {
  padding: 5px;
}

.suggestion:hover {
  background-color: rgb(250, 200, 125);
}

/* Estilos para la scrollbar */
.suggestions-container::-webkit-scrollbar {
  width: 7px; /* Ancho del scrollbar */
}


/* Estilos para el track (parte no desplazada de la scrollbar) */
.suggestions-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color del track */
  border-radius: 8px; /* Radio de borde del track */
}

/* Estilos para el thumb (parte desplazada de la scrollbar) */
.suggestions-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb */
  border-radius: 5px; /* Radio de borde del thumb */
}

/* Estilos para el thumb cuando se pasa el mouse por encima */
.suggestions-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del thumb al pasar el mouse */
}

/* Contenido principal */

.pokemons-list {
  display: flex;
  margin: 10px 50px;
  flex-wrap: wrap;
  justify-content: space-around; /* Ajustar espacio entre columnas */
}

.pokemons-container {
  border: 1px solid black;
  position: relative;
  height: 170px;
  border-radius: 10px;
  overflow: hidden;
  width: calc(100% / 5 - 20px); /* 6 columnas con espacio alrededor */
  height: 225px;
  margin: 15px 0 0; /* Separación vertical entre elementos */
  background-image: url(https://imgs.search.brave.com/aHTRN0GC71IkJ65EmT7dDU7fZUip06CqMRac-Xh1ZJ0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9lMC5w/eGZ1ZWwuY29tL3dh/bGxwYXBlcnMvNTQ2/LzQ5OC9kZXNrdG9w/LXdhbGxwYXBlci1p/LXdpc2gtaS1saXZl/ZC1pbi10aGUtcG9r/ZW1vbi13b3JsZC1p/bHVzdHJhY2FvLWRl/LXBhaXNhZ2VtLWNl/bmFyaW8tYW5pbWUt/bmF0dXJlemEtcG9r/ZW1vbi1sYW5kc2Nh/cGUuanBn);
  background-size: cover;
  box-shadow: 1px 2px 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.pokemons-container:hover{
  transform: scale(1.1);
  filter: brightness(1.1);
}

.pokemons-container-header{
  position: relative;
  background-color: rgb(238, 238, 238);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.pokemons-name {
  flex: 1;
  text-align: center;
}

.pokemons-types {
  position: relative;
  width: 25px;
  margin-left: 2px;
}
.pokemons-pokedex-number{
  margin-right: 5px;
  background-color: #e4e4e4;
  padding: 3px;
  border-radius: 50%;
}

.image-container{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.pokemons-image {
  position: absolute;
  width: 130px;
}


.pokemons-row {
  opacity: 0; /* Inicialmente ocultar las filas para la animación de carga */
  transition: opacity 0.5s ease; /* Transición suave para la opacidad */
}
